<template>
    <section>
        <h2 class="h4">
            <Icon v="spell-check" />
            <T>pronouns.grammarTable</T><T>quotation.colon</T>
        </h2>
        <div class="table-responsive">
            <table v-for="(grammarTable, t) in grammarTables" :key="t" class="table table-sm">
                <thead>
                    <tr>
                        <th v-if="grammarTable.rowHeaderCount" :colspan="grammarTable.rowHeaderCount"></th>
                        <th v-for="header in grammarTable.columnHeader" :key="header.name">
                            <Spelling class="d-none d-md-inline" :text="header.name" />
                            <Tooltip class="d-md-none" :text="header.name">
                                <Spelling :text="header.short" />
                            </Tooltip>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="section in grammarTable.sections">
                        <tr
                            v-for="[i, variant] in section.variants.entries()"
                            :key="`${section.header?.name}-${variant.name}`"
                        >
                            <th v-if="i === 0 && grammarTable.rowHeaderCount >= 1" :rowspan="section.variants.length">
                                <template v-if="section.header">
                                    <Spelling class="d-none d-md-inline" :text="section.header.name" />
                                    <Tooltip class="d-md-none" :text="section.header.name">
                                        <Spelling :text="section.header.short" />
                                    </Tooltip>
                                </template>
                            </th>
                            <template v-if="grammarTable.rowHeaderCount >= 2">
                                <template v-if="variant.numerus || variant.icon">
                                    <th class="pe-0">
                                        <Tooltip v-if="variant.name" class="text-nowrap" :text="variant.name">
                                            {{ variant.numerus === 'singular' ? '⋅' : '⁖' }}
                                            <Icon v-if="variant.icon" :v="variant.icon" />
                                        </Tooltip>
                                    </th>
                                    <th class="ps-0">
                                        <Spelling class="d-none d-md-inline" :text="variant.name" />
                                    </th>
                                </template>
                                <template v-else>
                                    <th colspan="2">
                                        <Spelling :text="variant.name" />
                                    </th>
                                </template>
                            </template>
                            <td v-for="morphemeCell in variant.morphemeCells" :key="morphemeCell.morpheme">
                                <MorphemeWithPronunciation
                                    :pronoun="selectedPronoun"
                                    :morpheme="morphemeCell.morpheme"
                                    :highlights-morphemes="morphemeCell.highlightsMorphemes"
                                    :counter="counter"
                                />
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </section>
</template>

<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import type { Pronoun } from '~/src/classes.ts';

interface Declension {
    name: string;
    numerus: 'singular' | 'plural';
    icon?: string;
    abbreviation: string;
}

const cases = ['n', 'g', 'd', 'a'];
const declensions: Declension[] = [
    {
        name: 'Singular Femininum',
        numerus: 'singular',
        icon: 'venus',
        abbreviation: 'f',
    },
    {
        name: 'Singular Maskulinum',
        numerus: 'singular',
        icon: 'mars',
        abbreviation: 'm',
    },
    {
        name: 'Singular Neutrum',
        numerus: 'singular',
        icon: 'neutrum',
        abbreviation: 'n',
    },
    {
        name: 'Singular neutral',
        numerus: 'singular',
        icon: 'neuter',
        abbreviation: 'x',
    },
    {
        name: 'Plural',
        numerus: 'plural',
        abbreviation: 'pl',
    },
];

interface GrammarTableDefinition {
    columnHeader: Header[];
    sections: SectionDefinition[];
}

interface Header {
    name: string;
    short: string;
}

interface SectionDefinition {
    header?: Header;
    variants: PronounVariantDefinition[] | PronounVariantsFromDeclensionDefinition;
}

interface PronounVariantDefinition {
    name?: string;
    morphemeCells: (string | MorphemeCellDefinition)[];
}

interface PronounVariantsFromDeclensionDefinition {
    base: string;
    type: string;
}

interface MorphemeCellDefinition {
    morpheme: string;
    highlightsMorphemes: string[];
}

const grammarTablesDefinitions: Record<'simple' | 'comprehensive', GrammarTableDefinition[]> = {
    simple: [
        {
            columnHeader: [
                {
                    name: 'Nominativ',
                    short: 'N',
                },
                {
                    name: 'Possessiv',
                    short: 'P',
                },
                {
                    name: 'Dativ',
                    short: 'D',
                },
                {
                    name: 'Akkusativ',
                    short: 'A',
                },
            ],
            sections: [
                {
                    variants: [
                        {
                            morphemeCells: [
                                'pronoun_n',
                                {
                                    morpheme: 'possessive_determiner_m_n',
                                    highlightsMorphemes: ['determiner', 'pronoun'].flatMap((possessiveKind) => {
                                        return ['f', 'm', 'n', 'x', 'pl'].flatMap((genus) => {
                                            return cases.flatMap((casus) => {
                                                return `possessive_${possessiveKind}_${genus}_${casus}`;
                                            });
                                        });
                                    }),
                                },
                                'pronoun_d',
                                'pronoun_a',
                            ],
                        },
                    ],
                },
            ],
        },
    ],
    comprehensive: [
        {
            columnHeader: [
                {
                    name: 'Nominativ',
                    short: 'N',
                },
                {
                    name: 'Genitiv',
                    short: 'G',
                },
                {
                    name: 'Dativ',
                    short: 'D',
                },
                {
                    name: 'Akkusativ',
                    short: 'A',
                },
            ],
            sections: [
                {
                    header: {
                        name: 'Personalpronomen',
                        short: 'Personalp.',
                    },
                    variants: {
                        base: 'pronoun',
                        type: 'case',
                    },
                },
                {
                    header: {
                        name: 'Possessivartikel',
                        short: 'Possessivart.',
                    },
                    variants: {
                        base: 'possessive_determiner',
                        type: 'declension-with-case',
                    },
                },
                {
                    header: {
                        name: 'Possessivpronomen',
                        short: 'Possessivp.',
                    },
                    variants: {
                        base: 'possessive_pronoun',
                        type: 'declension-with-case',
                    },
                },
                {
                    header: {
                        name: 'Relativpronomen',
                        short: 'Relativp.',
                    },
                    variants: {
                        base: 'relative',
                        type: 'case',
                    },
                },
                {
                    header: {
                        name: 'Demonstrativpronomen',
                        short: 'Demonstrativp.',
                    },
                    variants: {
                        base: 'demonstrative',
                        type: 'case',
                    },
                },
            ],
        },
        {
            columnHeader: [
                {
                    name: '',
                    short: '',
                },
            ],
            sections: [
                {
                    header: {
                        name: 'weitere Pronomen',
                        short: 'weitere P.',
                    },
                    variants: [
                        {
                            name: 'gleicher Art',
                            morphemeCells: ['pronoun_equal'],
                        },
                        {
                            name: 'zugehörig',
                            morphemeCells: ['possessive_pronoun_substantivized'],
                        },
                    ],
                },
                {
                    header: {
                        name: 'Adverbien',
                        short: 'Adverb.',
                    },
                    variants: [
                        {
                            name: 'wegen',
                            morphemeCells: ['adverb_because'],
                        },
                        {
                            name: 'damals',
                            morphemeCells: ['adverb_back_then'],
                        },
                        {
                            name: 'von',
                            morphemeCells: ['adverb_by'],
                        },
                    ],
                },
                {
                    header: {
                        name: 'spezifische Adjektive',
                        short: 'spez. Adj.',
                    },
                    variants: [
                        {
                            morphemeCells: ['adjective_back_then'],
                        },
                    ],
                },
            ],
        },
    ],
};

const morphemesByCase = (morphemeBase: string): MorphemeCell[] => {
    return cases.map((caseAbbreviation) => ({ morpheme: `${morphemeBase}_${caseAbbreviation}` }));
};

interface GrammarTable {
    columnHeader: Header[];
    rowHeaderCount: number;
    sections: Section[];
}

interface Section {
    header?: Header;
    variants: PronounVariant[];
}

interface PronounVariant {
    name?: string;
    numerus?: 'singular' | 'plural';
    icon?: string;
    morphemeCells: MorphemeCell[];
}

interface MorphemeCell {
    morpheme: string;
    highlightsMorphemes?: Set<string>;
}

const expandVariantsForSection = (sectionVariants: SectionDefinition['variants']): PronounVariant[] => {
    if (Array.isArray(sectionVariants)) {
        return sectionVariants.map((sectionVariant) => {
            const morphemeCells = sectionVariant.morphemeCells.map((morphemeCell) => {
                if (typeof morphemeCell === 'string') {
                    return { morpheme: morphemeCell };
                }
                return { ...morphemeCell, highlightsMorphemes: new Set(morphemeCell.highlightsMorphemes) };
            });
            return { ...sectionVariant, morphemeCells };
        });
    } else {
        const morphemeBase = sectionVariants.base;
        switch (sectionVariants.type) {
            case 'case':
                return [{ morphemeCells: morphemesByCase(morphemeBase) }];
            case 'declension-with-case':
                return declensions.map((declension) => ({
                    name: declension.name,
                    numerus: declension.numerus,
                    icon: declension.icon,
                    morphemeCells: morphemesByCase(`${morphemeBase}_${declension.abbreviation}`),
                }));
            default:
                throw new Error(`variant type ${sectionVariants.type} is unknown`);
        }
    }
};

const buildVariantsForSection = (
    sectionVariants: SectionDefinition['variants'],
    pronoun: Pronoun,
    counter: number,
): PronounVariant[] => {
    return expandVariantsForSection(sectionVariants).filter((variant) => {
        return variant.morphemeCells.some((morphemeCell) => {
            return pronoun.getMorpheme(morphemeCell.morpheme, counter) !== null;
        });
    });
};

const buildGrammarTable = (
    grammarTableDefinition: GrammarTableDefinition,
    pronoun: Pronoun,
    counter: number,
): GrammarTable => {
    const sections = grammarTableDefinition.sections.map((section) => {
        const variants = buildVariantsForSection(section.variants, pronoun, counter);
        return { header: section.header, variants };
    }).filter((section) => {
        return section.variants.length > 0;
    });
    const rowHeaderCount = Math.max(...sections.map((section) => {
        if (!section.header) {
            // no row headers at all
            return 0;
        } else if (!section.variants.some((variant) => variant.name)) {
            // all row headers have no variants
            return 1;
        } else {
            // some row headers have variants, needing a column for the icons and for the text
            return 3;
        }
    }));
    return { columnHeader: grammarTableDefinition.columnHeader, sections, rowHeaderCount };
};

export default Vue.extend({
    props: {
        selectedPronoun: { required: true, type: Object as PropType<Pronoun> },
        comprehensive: { required: true, type: Boolean },
        counter: { required: true, type: Number },
    },
    computed: {
        grammarTables(): GrammarTable[] {
            const grammarTablesDefinition = grammarTablesDefinitions[this.comprehensive ? 'comprehensive' : 'simple'];
            return grammarTablesDefinition.map((grammarTableDefinition) => {
                return buildGrammarTable(grammarTableDefinition, this.selectedPronoun, this.counter);
            }).filter((grammarTable) => grammarTable.sections.length > 0);
        },
    },
});
</script>
