<template>
    <Page>
        <LinksNav />

        <AcademicLinks />

        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.academic.header')" />
        </section>
    </Page>
</template>

<script lang="ts">
import Vue from 'vue';
import { head } from '../src/helpers.ts';

export default Vue.extend({
    head() {
        return head({
            title: this.$t('links.academic.header'),
        }, this.$translator);
    },
});
</script>
