<template>
    <Page>
        <NotFound v-if="pronounGroups === undefined" />
        <div v-else>
            <h2 class="d-flex justify-content-between">
                <span>
                    <Icon v="tag" />
                    <T>pronouns.intro</T><T>quotation.colon</T>
                </span>
                <ComprehensiveSwitch v-model="comprehensive" />
            </h2>

            <section>
                <div class="alert alert-primary">
                    <h2 class="text-center mb-0">
                        <strong>
                            <Spelling :text="short" />
                        </strong>
                    </h2>
                    <p class="h6 small text-center mb-0 mt-2">
                        <em>
                            <T>pronouns.any.description</T>
                            (<T>pronouns.any.options</T>)
                        </em>
                    </p>
                </div>
            </section>

            <section>
                <h2 class="h4">
                    <Icon v="file-signature" />
                    <T>pronouns.examples.header</T><T>quotation.colon</T>
                </h2>

                <ul>
                    <template v-for="exampleCategory in exampleCategories">
                        <ExampleCategory
                            v-if="!exampleCategory.comprehensive || comprehensive"
                            :example-category="exampleCategory"
                            :pronouns-choice="pronounsChoice"
                            link
                        />
                    </template>
                </ul>
            </section>

            <PronounGroup v-for="pronounGroup in pronounGroups" :key="pronounGroup.name" :pronoun-group="pronounGroup" />

            <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

            <section>
                <Share :title="`${$t('pronouns.intro')}: ${$t('pronouns.any.short')}`" />
            </section>

            <Separator icon="info" />
            <section class="mb-0">
                <h2 class="h4">
                    <Icon v="info-circle" />
                    <T>home.whatisit</T><T>quotation.colon</T>
                </h2>
                <T>home.about</T>
                <Homepage align="center" />

                <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />
            </section>
        </div>
    </Page>
</template>

<script>
import { examples, pronouns, pronounLibrary } from '../src/data.ts';
import { head } from '../src/helpers.ts';
import { ExampleCategory } from '../src/classes.ts';

export default {
    data() {
        const groupKey = this.$route.params.group;
        let pronounGroups = [];
        let short;
        if (groupKey) {
            const merged = pronounLibrary.byKey()[groupKey];
            pronounGroups = merged.groups;
            short = merged.short(this.$translator);
        } else {
            short = this.$t('pronouns.any.short');
        }

        return {
            exampleCategories: ExampleCategory.from(examples, this.$config),
            short,
            pronounGroups,
        };
    },
    head() {
        return head({
            title: `${this.$t('pronouns.intro')}: ${this.short}`.trim(),
            banner: `api/banner/${this.$t('pronouns.any.short')}.png`,
        }, this.$translator);
    },
    computed: {
        comprehensive: {
            get() {
                return Object.hasOwn(this.$route.query, this.$config.pronouns.comprehensive);
            },
            set(value) {
                if (value === this.comprehensive) {
                    // prevent warning that $router.replace has no effect
                    return;
                }
                const query = structuredClone(this.$route.query);
                if (value) {
                    query[this.$config.pronouns.comprehensive] = null;
                } else {
                    delete query[this.$config.pronouns.comprehensive];
                }
                this.$router.replace({ query });
            },
        },
        pronounsChoice() {
            if (!this.pronounGroups.length) {
                return Object.values(pronouns).filter((p) => !p.hidden);
            }

            let choice = {};
            for (const pronounGroup of this.pronounGroups) {
                choice = { ...choice, ...pronounGroup.groupPronouns };
            }
            return Object.values(choice).filter((p) => !p.hidden);
        },
    },
};
</script>
