<template>
    <Page>
        <h2>
            {{ clearLinkedText($config.pronouns.null.description) }}
        </h2>

        <p>
            <LinkedText :text="$config.pronouns.null.history" />
        </p>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <Avoiding />

        <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />
    </Page>
</template>

<script>
import { head, clearLinkedText } from '../src/helpers.ts';

export default {
    data() {
        return {
            clearLinkedText,
        };
    },
    head() {
        return head({
            title: this.$config.pronouns.null.description,
            description: this.$config.pronouns.null.history,
        }, this.$translator);
    },
};
</script>
