<template>
    <Page>
        <LinksNav />

        <h2>
            <Icon v="globe-americas" />
            <T>english.headerLonger</T>
        </h2>

        <div>
            <T>english.intro</T>
        </div>

        <template v-if="$config.english.links">
            <Separator icon="link" />
            <ul class="list-unstyled">
                <Link v-for="link in $config.english.links" :key="link.url" :link="link" />
            </ul>
        </template>

        <Separator icon="list" />

        <section v-for="pronounGroup in $config.english.pronounGroups">
            <h3>
                {{ pronounGroup.name }}
            </h3>
            <p v-for="p in pronounGroup.description">
                <LinkedText :text="p" />
            </p>
            <EnglishTable v-if="pronounGroup.table" :t="pronounGroup.table" />
        </section>
    </Page>
</template>

<script lang="ts">
import Vue from 'vue';
import EnglishTable from '../data/pronouns/EnglishTable.vue';
import { head } from '../src/helpers.ts';

export default Vue.extend({
    components: { EnglishTable },
    head() {
        return head({
            title: this.$t('english.headerLonger'),
            description: this.$t('english.description'),
        }, this.$translator);
    },
});
</script>
