<template>
    <Page>
        <div class="blog-post">
            <div v-html="content"></div>

            <Separator icon="heart" />
            <Support />

            <section>
                <Share :title="title" />
            </section>
        </div>
    </Page>
</template>
<script lang="ts">
import Vue from 'vue';
import { head } from '../src/helpers.ts';
import parseMarkdown from '../src/parseMarkdown.js';

export default Vue.extend({
    async asyncData({ app }) {
        return parseMarkdown((await import('../LICENSE.md')).default, app.$translator);
    },
    head() {
        return head({
            title: this.title,
            banner: this.img,
        }, this.$translator);
    },
});
</script>
