<template>
    <Page>
        <LinksNav />

        <Media />

        <Socials />
        <Separator icon="heart" />
        <Support />
        <section>
            <Share :title="$t('links.social')" />
        </section>
    </Page>
</template>

<script lang="ts">
import Vue from 'vue';
import { head } from '../src/helpers.ts';

export default Vue.extend({
    head() {
        return head({
            title: this.$t('links.media'),
        }, this.$translator);
    },
});
</script>
