<template>
    <Page>
        <h2>
            <Icon v="books" />
            <T>sources.headerLonger</T>
        </h2>

        <p v-if="$t('sources.subheader')">
            <em><T>sources.subheader</T></em>
        </p>

        <section>
            <Share :title="$t('sources.headerLonger')" />
        </section>

        <AdPlaceholder :phkey="['content-0', 'content-mobile-0']" />

        <SourcesChart :sources="sources" label="all pronouns" />

        <Loading :value="sourceLibrary" size="5rem">
            <template v-if="sourceLibrary !== undefined">
                <section v-show="$config.sources.submit">
                    <SourceSubmitForm v-show="submitShown" ref="form" />
                    <button v-show="!submitShown" class="btn btn-success w-100" @click="submitShown = true">
                        <Icon v="plus-circle" />
                        <T>sources.submit.header</T>
                    </button>
                </section>

                <section>
                    <button v-if="!tocShown" class="btn btn-outline-primary w-100" @click="tocShown = true">
                        <Icon v="list" />
                        <T>sources.toc</T>
                    </button>
                    <ul v-if="tocShown" class="list-group">
                        <li v-for="[group, groupPronouns] in tocPronounGroups" class="list-group-item">
                            <p class="h5">
                                {{ group.name }}
                            </p>
                            <div v-if="group.description" class="small my-1">
                                <Icon v="info-circle" />
                                <em v-html="group.description"></em>
                            </div>
                            <ul class="list-unstyled">
                                <template v-for="pronoun in groupPronouns">
                                    <li
                                        v-if="$config.sources.mergePronouns?.[pronoun.canonicalName] === undefined"
                                        :key="pronoun.canonicalName"
                                    >
                                        <a :href="`#${toId(pronoun.name(glue))}`">
                                            <strong>{{ pronoun.name(glue) }}</strong>
                                            –
                                            <small>{{ pronoun.description }}</small>
                                        </a>
                                        <NormativeBadge v-if="pronoun.normative" />
                                    </li>
                                </template>
                            </ul>
                        </li>
                        <li v-if="sourceLibrary.multiple.length" class="list-group-item">
                            <p class="h5 mb-0">
                                <a :href="`#${$t('pronouns.alt.raw')}`">
                                    <strong><T>pronouns.alt.header</T></strong>
                                </a>
                            </p>
                        </li>
                        <li v-if="sourceLibrary.getForPronoun('', pronounLibrary)" class="list-group-item">
                            <p class="h5 mb-0">
                                <a :href="`#${$t('pronouns.othersRaw')}`">
                                    <strong><T>pronouns.others</T></strong>
                                </a>
                            </p>
                        </li>
                    </ul>
                </section>

                <section v-if="$isGranted('sources')" class="px-3">
                    <div class="alert alert-info">
                        <strong>{{ sourceLibrary.countApproved }}</strong> <T>nouns.approved</T>,
                        <a href="#" @click.prevent="filter = '__awaiting__'">
                            <strong>{{ sourceLibrary.countPending }}</strong> <T>nouns.pending</T>.
                        </a>
                    </div>
                </section>

                <ModerationRules type="rulesSources" emphasise />

                <section class="sticky-top bg-white">
                    <div class="input-group mb-1 bg-white">
                        <span class="input-group-text">
                            <Icon v="filter" />
                        </span>
                        <input ref="filter" v-model="filter" class="form-control border-primary" :placeholder="$t('crud.filterLong')">
                        <button v-if="filter" class="btn btn-outline-danger" @click="filter = ''; $tRefs.filter?.focus()">
                            <Icon v="times" />
                        </button>
                    </div>

                    <div class="btn-group w-100">
                        <button
                            v-for="(icon, type) in sourceTypes"
                            :class="['btn btn-sm', type === filterType ? 'btn-primary' : 'btn-outline-primary']"
                            @click="filterType = type"
                        >
                            <Icon :v="icon" />
                            <span class="d-none d-md-inline">
                                <T>sources.type.{{ type || 'All' }}</T>
                            </span>
                        </button>
                    </div>
                </section>

                <template v-for="pronoun in pronouns">
                    <section v-if="$config.sources.mergePronouns?.[pronoun.canonicalName] === undefined && sourceLibrary.getForPronoun(pronoun.canonicalName).length">
                        <SourceList
                            :sources="sourceLibrary.getForPronoun(pronoun.canonicalName)"
                            :pronoun="pronoun"
                            :filter="filter"
                            :filter-type="filterType"
                            manage
                            @edit-source="edit"
                        >
                            <h2 :id="toId(pronoun.name(glue))" class="h4">
                                <nuxt-link :to="`/${pronoun.canonicalName}`">
                                    {{ pronoun.description }}
                                    <small>({{ pronoun.name(glue) }})</small>
                                </nuxt-link>
                            </h2>
                        </SourceList>
                    </section>
                </template>

                <a :id="$t('pronouns.alt.raw')"></a>
                <template v-for="multiple in sourceLibrary.multiple">
                    <section v-if="sourceLibrary.getForPronoun(multiple).length">
                        <SourceList :sources="sourceLibrary.getForPronoun(multiple)" :filter="filter" :filter-type="filterType" manage @edit-source="edit">
                            <h2 :id="toId(multiple)" class="h4">
                                <nuxt-link :to="`/${multiple}`">
                                    <T>pronouns.alt.header</T>
                                    <small>({{ multiple.replace(/&/g, glue) }})</small>
                                </nuxt-link>
                            </h2>
                        </SourceList>
                    </section>
                </template>

                <section v-if="sourceLibrary.getForPronoun('', pronounLibrary)">
                    <SourceList :sources="sourceLibrary.getForPronoun('', pronounLibrary)" :filter="filter" :filter-type="filterType" manage @edit-source="edit">
                        <h2 :id="$t('pronouns.othersRaw')" class="h4">
                            <T>pronouns.others</T>
                        </h2>
                    </SourceList>
                </section>
            </template>
        </Loading>

        <AdPlaceholder :phkey="['content-1', 'content-mobile-1']" />
    </Page>
</template>

<script lang="ts">
import { pronouns, pronounLibrary } from '../src/data.ts';
import { Source, SourceLibrary } from '../src/classes.ts';
import { head } from '../src/helpers.ts';
import hash from '../plugins/hash.ts';
import type { SourceRaw } from '../src/classes.ts';
import type SourceSubmitForm from '../components/SourceSubmitForm.vue';

interface Refs {
    form: InstanceType<typeof SourceSubmitForm> | undefined;
    filter: HTMLInputElement | undefined;
}

export default hash.extend({
    data() {
        return {
            pronouns,
            pronounLibrary,
            tocShown: false,
            sourceTypes: Source.TYPES,
            filter: '',
            filterType: '',
            glue: ` ${this.$t('pronouns.or')} `,
            submitShown: false,
            sources: undefined as SourceRaw[] | undefined,
            sourceLibrary: undefined as SourceLibrary | undefined,
        };
    },
    head() {
        return head({
            title: this.$t('sources.headerLonger'),
            description: this.$t('sources.subheader'),
        }, this.$translator);
    },
    computed: {
        $tRefs(): Refs {
            return this.$refs as unknown as Refs;
        },
        tocPronounGroups() {
            const pronounGroups = this.pronounLibrary.split((pronoun) => {
                if (this.sourceLibrary === undefined) {
                    return false;
                }
                return this.sourceLibrary.getForPronoun(pronoun.canonicalName).length > 0;
            }, false);
            return [...pronounGroups].filter(([_, groupPronouns]) => groupPronouns.length > 0);
        },
    },
    watch: {
        filter() {
            this.setHash('', this.filter);
        },
    },
    async mounted() {
        this.handleHash('', (filter) => {
            this.filter = filter;
            if (filter) {
                this.$tRefs.filter?.scrollIntoView();
            }
        });
        this.sources = await this.$axios.$get('/sources');
        this.sourceLibrary = new SourceLibrary(this.$config, this.sources!);
    },
    methods: {
        toId(str: string): string {
            return str.replace(/\//g, '-').replace(/&/g, '_');
        },
        edit(source: Source) {
            this.submitShown = true;
            this.$nextTick(() => {
                this.$tRefs.form?.edit(source);
            });
        },
    },
});
</script>
