<template>
    <Page>
        <h2>
            <Icon v="user" />
            <T>user.headerLong</T>
        </h2>

        <Account v-if="$user()" />
        <MfaValidation v-else-if="preToken" />
        <Login v-else />

        <!-- <Separator icon="users"/> -->
        <AccountSwitch class="my-5" helper :minimum-count="$user() ? 0 : 1" />
    </Page>
</template>

<script lang="ts">
import Vue from 'vue';
import { head } from '../src/helpers.ts';

export default Vue.extend({
    head() {
        return head({
            title: this.$t('user.headerLong'),
        }, this.$translator);
    },
    computed: {
        preToken(): string | null {
            return this.$store.state.preToken;
        },
    },
});
</script>
