<template>
    <section v-if="$config.links.enabled && Object.keys($config.links.academic).length">
        <h2 class="mb-3">
            <Icon v="vial" />
            <T>links.academic.header</T>
        </h2>
        <section v-if="$te('links.academic.intro')">
            <T>links.academic.intro</T>
            <Separator icon="list" />
        </section>
        <section v-for="section in $config.links.academic">
            <h3 v-if="section.name">
                {{ section.name }}
            </h3>
            <ul class="list-unstyled">
                <Link v-for="link in section.entries" :key="link.url" :link="link" />
            </ul>
        </section>
    </section>
</template>
