<template>
    <div v-if="$config.pronouns.comprehensive" class="btn-group" role="group">
        <button
            :class="['btn btn-sm', !value ? 'btn-primary' : 'btn-outline-primary']"
            @click="$emit('input', false)"
        >
            <T>pronouns.comprehensive.simple</T>
        </button>
        <button
            :class="['btn btn-sm', value ? 'btn-primary' : 'btn-outline-primary']"
            @click="$emit('input', true)"
        >
            <T>pronouns.comprehensive.comprehensive</T>
        </button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        value: { default: false, type: Boolean },
    },
});
</script>
