<template>
    <Popover
        :title="text"
        :aria-label="text"
        placement="top"
    >
        <slot></slot>
        <template #content>
            {{ text }}
        </template>
    </Popover>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    props: {
        text: { required: true, type: String },
    },
});
</script>
