<template>
    <div>
        <div v-if="$route.query.error" class="container pt-md-4">
            <div class="alert alert-danger">
                <Icon v="heart-broken" />
                <T>user.login.oauthError</T>
            </div>
        </div>
        <Homepage v-if="$config.header" />
        <SelectVersion v-else />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Homepage from '../routes/homepage.vue';
import SelectVersion from '../routes/select.vue';

export default Vue.extend({
    components: { Homepage, SelectVersion },
});
</script>
